h1,
h2,
h3,
h4,
h5,
h6 {
	color: #111111;
	margin: 0;
	font-weight: 500;
	font-family: 'Rubik', sans-serif;
}

h1 {
	font-size: 60px;
}

h2 {
	font-size: 36px;
	line-height: 1.2;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 14px;
}

p {
	font-size: 14px;
	color: #636363;
	line-height: 1.6;
}

img {
	max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
	outline: none;
}

a:hover,
a:focus {
	text-decoration: none;
	outline: none;
}

ul,
ol {
	padding: 0;
	margin: 0;
}

/*---------------------
	Helper CSS
-----------------------*/

.spad {
	padding-top: 90px;
	padding-bottom: 90px;
}

.section-title {
	margin-bottom: 70px;
}

.section-title h3 {
	text-transform: uppercase;
	margin-bottom: 20px;
}

.section-title p {
	margin-bottom: 0;
}

.set-bg {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 0;
}

.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white p,
.text-white span,
.text-white li,
.text-white a {
	color: #fff;
}

/*---------------------
	Commom elements
-----------------------*/

/* Buttons */

.site-btn {
	position: relative;
	display: inline-block;
	text-transform: uppercase;
	background: #f6783a;
	color: #fff;
	padding: 18px 30px;
	font-size: 14px;
	font-weight: 500;
	line-height: 14px;
	border-radius: 50px;
	min-width: 170px;
	text-align: center;
	border: none;
	cursor: pointer;
}

/* Image Popup */

.img-popup-warp .mfp-content,
.img-popup-warp.mfp-ready.mfp-removing .mfp-content {
	opacity: 0;
	-webkit-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}

.img-popup-warp.mfp-ready .mfp-content {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

/* Preloder */

#preloder {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #fff;
}

.loader {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	animation: loader 0.8s linear infinite;
	-webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
	50% {
		-webkit-transform: rotate(180deg);
		border: 4px solid #673ab7;
		border-left-color: transparent;
	}
	100% {
		-webkit-transform: rotate(360deg);
		border: 4px solid #f44336;
		border-left-color: transparent;
	}
}

.footer-section {
	background-color: #020031;
	background-repeat: no-repeat;
	background-position: center 75px;
}

.footer-section .footer-top {
	padding: 65px 15px;
}

.footer-section .copyright {
	border-top: 1px solid #312f56;
	padding: 27px 0;
	text-align: center;
}

.footer-section .copyright p {
	color: #b7b7b7;
	margin-bottom: 0;
}

.footer-section .copyright p a {
	color: #fff;
	font-weight: 500;
}

.footer-section .copyright p a:hover {
	color: #f6783a;
}

.footer-widget .fw-title {
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 25px;
	padding-top: 10px;
}

.footer-widget p,
.footer-widget span {
	color: #b7b7b7;
}

.footer-widget ul {
	list-style: none;
}

.footer-widget .about-widget img {
	margin-bottom: 30px;
}

.footer-widget .about-widget p {
	margin-bottom: 35px;
}

.footer-widget .social a {
	color: #b7b7b7;
	margin-right: 15px;
}

.footer-widget .dobule-link ul {
	display: inline-block;
}

.footer-widget .dobule-link ul a {
	display: block;
	font-size: 14px;
	color: #b7b7b7;
	margin-bottom: 15px;
}

.footer-widget .dobule-link ul a:hover {
	color: #f6783a;
}

.footer-widget .dobule-link ul li:last-child a {
	margin-bottom: 0;
}

.footer-widget .dobule-link ul:last-child {
	margin-left: 50px;
}

.footer-widget .recent-post li {
	margin-bottom: 25px;
}

.footer-widget .recent-post p {
	margin-bottom: 5px;
}

.footer-widget .recent-post span {
	font-size: 12px;
}

.footer-widget .recent-post span i {
	color: #f6783a;
	margin-right: 5px;
}

.footer-widget .contact li {
	margin-bottom: 15px;
	display: block;
}

.footer-widget .contact li p {
	margin-bottom: 0;
}

.footer-widget .contact i {
	font-size: 12px;
}

/*------------------
	Responsive
---------------------*/

@media (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}

/* Medium screen : 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.counter-section .counter {
		padding-left: 20px;
	}
	.counter-section .counter .counter-item {
		min-width: 80px;
	}
	.counter-section .counter .counter-item h4 {
		font-size: 35px;
	}
	.widget {
		margin-left: 0;
	}
}

/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-info .hf-item i {
		float: left;
	}
	.header-info .hf-item p {
		display: block;
	}
	.hs-item {
		height: auto;
		min-height: auto;
		padding: 140px 0;
	}
	.counter-section .counter {
		padding-top: 15px;
		padding-left: 0;
	}
	.counter-section .counter .counter-item {
		min-width: 70px;
	}
	.counter-section .counter .counter-item h4 {
		font-size: 27px;
	}
	.gallery .gallery-item,
	.gallery .gallery-item.gi-big,
	.gallery .gallery-item.gi-long {
		width: 25%;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	.testimonial-slider .owl-nav {
		left: -16px;
	}
	.member {
		margin-bottom: 40px;
	}
	.sidebar {
		padding-top: 80px;
	}
	.widget {
		margin-left: 0;
	}
}

/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
	.header-info {
		display: none;
	}
	.site-logo {
		padding: 15px 0;
	}
	.nav-switch {
		position: absolute;
		right: 30px;
		font-size: 30px;
		color: #111;
		top: 25px;
		display: block;
	}
	.nav-section .nav-right {
		display: block;
		float: none;
		text-align: right;
		padding-bottom: 20px;
	}
	.main-menu {
		display: none;
	}
	.main-menu li {
		display: block;
	}
	.main-menu li a {
		padding: 15px;
		display: block;
		border-top: 1px solid #212031;
	}
	.main-menu li a:hover {
		background-color: transparent;
		color: #f6783a;
	}
	.main-menu li.active a {
		background-color: transparent;
	}
	.hs-item {
		min-height: auto;
		padding: 100px 0;
	}
	.hs-item .hs-title {
		font-size: 40px;
	}
	.counter-section .counter {
		float: none;
		padding-top: 30px;
		padding-left: 0;
		text-align: center;
	}
	.gallery .gallery-item,
	.gallery .gallery-item.gi-big,
	.gallery .gallery-item.gi-long {
		width: 50%;
	}
	.fact {
		text-align: left;
		margin-bottom: 15px;
	}
	.footer-widget {
		margin-bottom: 40px;
	}
	.testimonial-slider .owl-nav {
		left: 50%;
		margin-left: -90px;
	}
	.testimonial-slider .owl-dots {
		text-align: center;
		width: 100%;
		left: 0;
		bottom: 0;
	}
	.testimonial-slider .ts-author-pic {
		margin: 5px auto 30px;
	}
	.testimonial-slider .ts-item {
		text-align: center;
		padding-bottom: 50px;
	}
	.member {
		margin-bottom: 40px;
	}
	.sidebar {
		padding-top: 80px;
	}
	.widget {
		margin-left: 0;
	}
	.map-section {
		height: auto;
	}
	.contact-info-warp {
		position: relative;
		height: auto;
		display: block;
		width: 100%;
		padding-bottom: 70px;
	}
	.map-section .map {
		height: 300px;
	}
}

/* small Mobile :320px. */

@media only screen and (max-width: 479px) {
	.hs-item .hs-title {
		font-size: 27px;
	}
	.counter-section .counter .counter-item {
		min-width: 65px;
	}
	.counter-section .counter .counter-item h4 {
		font-size: 25px;
	}
	.course-item .course-info {
		margin: 0;
	}
	.blog-item .blog-thumb {
		height: 230px;
		width: 100%;
		margin-bottom: 20px;
	}
	.blog-item .blog-content {
		padding-left: 0;
	}
	.gallery .gallery-item,
	.gallery .gallery-item.gi-big,
	.gallery .gallery-item.gi-long {
		width: 100%;
	}
	.newsletter-section .newsletter {
		text-align: center;
	}
	.newsletter-section .newsletter input {
		padding-right: 30px;
		margin-bottom: 20px;
		text-align-last: auto;
	}
	.newsletter-section .newsletter .site-btn {
		position: relative;
		border-radius: 50px;
	}
	.post-item .post-author .pa-thumb,
	.comment-warp .comment .comment-avator {
		float: none;
		margin-bottom: 15px;
	}
	.post-item .post-author .pa-content,
	.comment-warp .comment .comment-content {
		padding-left: 0;
	}
}
