
.dropdown-item:hover {
  background-color: rgba(0, 0, 204, 0.5) !important;
}
.navbar-brand {
  color: white !important;
}

@media screen and (min-width: 990px) {
  .navbar-brand {
    display: none !important;
  }
}
